# 0. NBA

In [4]:
import pandas as pd
from nba_api.stats.endpoints import playercareerstats
from nba_api.live.nba.endpoints import scoreboard
from  nba_api.stats.endpoints  import  playercareerstats 
import requests
import time
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

# 1. 크롤링

In [5]:
def crawring(x):
    url = x
    response = requests.get(url)
    content = response.content
    soup = BeautifulSoup(content, 'html.parser')

    table = soup.find("table", {"class":"hh-salaries-ranking-table hh-salaries-table-sortable responsive"})
    tbody = table.find("tbody")
    tr_list = tbody.find_all("tr")
    concat_list = []
    td_list = []
    td1_list = []
    td2_list = []
    for tr in tr_list:
        td_list = tr.find_all("td", {"class":"rank"})
        td_list1 = tr.find_all("td", {"class":"name"})
        td_list2 = tr.find_all("td", {"class":"value"})
        for td,td1,td2 in zip(td_list,td_list1,td_list2):
            td_list.append(td.text.strip())
            td1_list.append(td1.text.strip())
            td2_list.append(td2.text.strip())

    team18_19 =  pd.DataFrame([td1_list,td2_list],index=['team','status']).T
    return team18_19

In [16]:
east = ['Atlanta Hawks','Boston Celtics','Brooklyn Nets','Charlotte Hornets','Chicago Bulls','Cleveland Cavaliers','Detroit Pistons',
'Indiana Pacers','Miami Heat','Milwaukee Bucks','New York Knicks','Orlando Magic',
'Philadelphia 76ers','Toronto Raptors','Washington Wizards']

In [2]:
west = ['Dallas Mavericks','Denver Nuggets','Golden State Warriors','Houston Rockets','Los Angeles Clippers','Los Angeles Lakers',
'Memphis Grizzlies','Minnesota Timberwolves','New Orleans Pelicans','Oklahoma City Thunder','Phoenix Suns',
'Portland Trail Blazers','Sacramento Kings','San Antonio Spurs','Utah Jazz']

In [14]:
team22_23List = []
for i in west:
    temp = i.lower()
    temp = temp.replace(" ","_")
    i = crawring(f'https://hoopshype.com/nba2k/{temp}/2018-2019/')
    team22_23List.append(i)

In [15]:
for i,j in zip(west,range(0,15)):
    # team23_23List[2]
    team22_23List[j].to_csv(f'{i}18_19.csv')

In [31]:

# col 생략 없이 출력
pd.set_option('display.max_columns', None)